<h1 class="page-title">Questions</h1>

<dl class="sub-nav">
  <dt>Filter:</dt>

  {{#link-to (query-params status='null') tagName='dd'}}
    <a {{bind-attr href="view.href"}}>Newest</a>
  {{/link-to}}

  {{#link-to (query-params status='open') tagName='dd'}}
    <a {{bind-attr href="view.href"}}>Unanswered</a>
  {{/link-to}}
</dl>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Title</th>
      <th>Status</th>
      <th>Assignee</th>
    </tr>
  </thead>
  <tbody>
    {{#each question in model}}
      <tr>
        <td>{{user-avatar user=question.user}}</td>
        <td>{{link-to question.title 'questions.show' question}}</td>
        <td>
          <span {{bind-attr class=":label question.isAnswered:success"}}>
            {{question.status}}
          </span>
        </td>
        <td>{{user-avatar user=question.assignee}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<div class="row">
  <div class="small-6 columns">
    <button class="button secondary expand"
      {{bind-attr disabled=previousPageUnavailable}}
      {{action 'previousPage'}}>
      <i class="fa fa-arrow-left"></i>
    </button>
  </div>
  <div class="small-6 columns">
    <button class="button secondary expand"
      {{bind-attr disabled=nextPageUnavailable}}
      {{action 'nextPage'}}>
      <i class="fa fa-arrow-right"></i>
    </button>
  </div>
</div>
