<h1 class="page-title">Questions</h1>

{{link-to 'Ask a Question' 'questions.new' class='button'}}

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Title</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {{#each question in model}}
      <tr>
        <td>{{user-avatar user=question.user}}</td>
        <td>{{link-to question.title 'questions.show' question}}</td>
        <td>
          <span {{bind-attr class=":label question.isAnswered:success"}}>
            {{question.status}}
          </span>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<div class="row">
  <div class="small-6 columns">
    <button class="button secondary expand"
      {{bind-attr disabled=previousPageUnavailable}}
      {{action 'previousPage'}}>
      <i class="fa fa-arrow-left"></i>
    </button>
  </div>
  <div class="small-6 columns">
    <button class="button secondary expand"
      {{bind-attr disabled=nextPageUnavailable}}
      {{action 'nextPage'}}>
      <i class="fa fa-arrow-right"></i>
    </button>
  </div>
</div>
