<h1 class="page-title">{{title}}</h1>

{{x-post model=model type='question'}}

<h2>Answers</h2>

{{render 'answers.list' answers}}

<h3>Your Answer</h3>

{{#if session.isAuthenticated}}
  {{render 'answers.new' answer}}
{{else}}
  {{link-to 'Log in to post an answer' 'login'}}
{{/if}}
