<div class="question">
  <div class="question__author">
    <p>{{user.username}} asked:</p>
  </div>

  {{#if isEditing}}
    <div class="question-form">
      {{#form-for controller action='save'}}
        <div class="row">
          <div class="small-12 columns">
            {{input title placeholder="Deploying Rails app to Heroku"}}
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            {{input body as='text' placeholder='Provide as many details as possible'}}
          </div>
        </div>
        <div class="row">
          <div class="small-6 columns">
            {{submit "Save" class="button success expand"}}
          </div>
          <div class="small-6 columns">
            <a href="#" class="button secondary expand" {{action 'cancel'}}>
              Cancel
            </a>
          </div>
        </div>
      {{/form-for}}
    </div>
  {{else}}
    <h1 class="page-title">{{title}}</h1>

    <div class="question__body">
      {{format-markdown body}}
    </div>

    <div class="post-actions">
      {{#if canEdit}}
        <a class="post-action--edit" href="#" {{action 'toggleIsEditing'}}>Edit</a>
      {{/if}}
    </div>

    {{#if comments}}
      <h5 class="subheader">Comments</h5>
      {{render 'comments.list' comments}}
    {{/if}}


    {{#if session.isAuthenticated}}
      <a class="add-comment button secondary tiny"
        href="#" {{action 'addComment'}}>
        Comment
      </a>
    {{else}}
      {{link-to 'Log in to post a comment' 'login'}}
    {{/if}}

    {{#if isCommenting}}
      {{render 'comments.new'}}
    {{/if}}
  {{/if}}
</div>

<h2>Answers</h2>

{{render 'answers.list' answers}}

<h3>Your Answer</h3>

{{#if session.isAuthenticated}}
  {{render 'answers.new' answer}}
{{else}}
  {{link-to 'Log in to post an answer' 'login'}}
{{/if}}
