<div {{bind-attr id=postId}} class="post-wrapper">
  <div class="post-avatar">
    <a href="#">{{user-avatar user=user}}</a>
  </div>

  <div class="accept-answer">
    {{#if canBeAccepted}}
      <a {{action 'toggleAcceptedAnswer' this}} {{bind-attr class="isAccepted"}} href="#">
        <i class="fa fa-check-circle-o"></i>
      </a>
    {{else}}
      {{#if isAccepted}}
        <span class="is-accepted"><i class="fa fa-check-circle-o"></i></span>
      {{/if}}
    {{/if}}
  </div>

  <div {{bind-attr class=":post postClass"}}>
    <div class="post__header">
      <div class="post__header__text">
        <span class="post__author">
          <strong>@{{user.username}}</strong>
        </span>
        {{postActionText}}
      </div>
      <div class="post__actions">
        {{#if canEdit}}
          <a class="post__action post__action--edit" href="#" {{action 'edit'}}>
            <i class="fa fa-pencil"></i> Edit
          </a>
        {{/if}}
      </div>
    </div>

    <div class="post__content">
      {{#if isEditing}}
        {{partial postEditPartial}}
      {{else}}
        {{format-markdown body}}
      {{/if}}
    </div>
  </div>

  {{#if isCommentable}}
    {{render 'comments.list' comments}}

    {{#if isCommenting}}
      {{render 'comments.new'}}
    {{/if}}
  {{/if}}
</div>
