<div class="contain-to-grid">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1>
          {{link-to 'Rescue Mission' 'questions.index'
            (query-params status='null' page='1')}}
        </h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <li class="has-form">
          {{link-to 'Ask a Question' 'questions.new' class='button'}}
        </li>
        <li>{{link-to 'Questions' 'questions.index'}}</li>
        <li>{{link-to 'Help' 'help'}}</li>
        {{#if session.isAuthenticated}}
          <li><a href="#">{{session.currentUser.username}}</a></li>
          <li><a href="#" {{action 'invalidateSession'}}>Log out</a></li>
        {{else}}
          <li>
            {{link-to 'Log in' 'login'}}
          </li>
        {{/if}}
      </ul>
    </section>
  </nav>
</div>

<div class="row">
  <div class="small-12 columns">
    <p>{{x-wuphf}}</p>

    {{outlet}}
  </div>
</div>
